NEXT_PUBLIC_API_BASE_URL=https://connect.yapson.net
NEXT_PUBLIC_APP_NAME="Flashpay Module"
NEXT_PUBLIC_APP_SHORT_NAME="BP"
NEXT_PUBLIC_APP_TITLE="Flashpay Module - Admin Dashboard"
NEXT_PUBLIC_APP_DESCRIPTION="Professional admin dashboard for Flashpay Module"
NEXT_PUBLIC_PRIMARY_COLOR="142 100% 33%"
